@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
   
    background: #DCDCDC;
    font-size: 100%;
    margin-left: 20px;
}
@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
   
        background: #DCDCDC;
        font-size: 100%;
    }

    #avatar-id {
        box-shadow: 3px 3px 15px grey;
        border: 20px solid white;
        border-radius: 6px;
        background: #DCDCDC;
        width: 95%;
        height: 500px;
        position: relative;
        margin: 50px 20px 30px 0px;
    
    }

    #sobre-id {
        border: none;
        background: #DCDCDC;
        width: 100%;
        margin-right: 10px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .icons i {
        margin: 15px;
        color: gray;
        cursor: pointer !important;
        font-size: 2rem;
    }
    .icons i:hover {
        color: rgb(104, 102, 102);
    }

    .contato {
        display: flex;
        flex-direction: column;
    }

    .img-avata {
        background-color: #aaa;
          border-radius: 50%;
          width: 200px;
          height: 200px;
          overflow: hidden;
          position: relative;
          margin: auto;
          transform: rotate(50deg);
          -moz-transform: rotate(50deg);
          -webkit-transform: rotate(50deg);
        }
        
        .img-avata img {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin: auto;
            transform: rotate(xdeg);
        }
}

.avatar {
    box-shadow: 3px 3px 15px grey;
    border: 20px solid white;
    border-radius: 6px;
    background: #DCDCDC;
    position: fixed;
    width: 45%;
    height: 500px;
    padding: 50px 30px 50px 30px;
    margin: 50px auto;
    
    
}

.sobre {
    background: #DCDCDC;
    width: 50%;
    height: 1000px;
    border-left: 0.1px solid rgb(204, 202, 202);
    display: block;
    float: right;
    margin-right: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

.img-avata {
background-color: #aaa;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: auto;
  
}

.img-avata img {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
   
}

.dados {
    padding-top: 20px;
    text-align: center;
    color: rgb(80, 78, 78);
}

.sobreMim {
    margin-top: 20px;
    font-size: 1.7rem;
    font-family: 'Squada One', cursive;
    color: black;
}

.minhaHistoria {
    font-size: 1.5rem;
    font-family:  'Indie Flower', cursive;
    color: black;
    padding-top: 10px;
}

.textoSobre {
 font-size: 1.25rem;
 color: black;
 padding-top: 20px;
 padding-right: 20px;
 text-indent: 50px;
 text-align: justify;
 font-family: 'Roboto' italic;
}

.sigaNos {
    margin-top: 40px;
    font-size: 1.7rem;
    font-family: 'Squada One', cursive;
    color: black;
}

.icons {
    border-top: 0.1px solid rgb(204, 202, 202);
}

.icons i {
    margin: 15px;
    color: gray;
    cursor: pointer !important;
}
.icons i:hover {
    color: rgb(104, 102, 102);
}

.textContato {
    text-align: center;
    margin: 90px 0px 10px 0px;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    font-size: 3rem;
}

.contato {
    display: flex;
    margin: auto;
    font-family: 'Roboto' sans-serif;
    color: rgb(80, 80, 80);
    
}

.contato > div {
    margin: 30px auto 50px;
    
}

.endContato {
    padding: 10px;
   font-weight: 600;
}

.endContato h5 {
    text-align: center;
    font-size: 1.7rem;
}

.endContato span {
    font-size: 1.25rem;
}

.telContato {
    padding: 10px;
    font-weight: 600;
}

.telContato h5 {
    text-align: center;
    font-size: 1.7rem;   
}

.telContato span {
    font-size: 1.25rem;
}

.copyright {
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(104, 102, 102);
}